@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & family= Roboto:wght@400;500;700;900 & display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    width: 1600px;
    font-family: 'roboto' 'sans-serif' 'Raleway';
    background: #E5E5E5;
}
.box-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1600px;
}
.buttons .button{
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}
.buttons .button:hover {
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
}
.buttom{
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buttons{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 8px;
    
    
}
.button{
    width: max-content;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
    padding: 6px 24px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
                                /*   encabezado   */
ul{
    list-style-type: none;
}
.container{
    width: 1200px;
}
body .container{
    display: flex;
    justify-content: center;
}
.header{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
}

.header .container{
    width: 100vw;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 219px;
    padding-left: 219px;
}

.link-webstudio{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.header-nav{
   display: flex;
   align-items: center; 
   justify-content: center;
   gap: 100px;
}
.header-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-menu li{
    padding-top: 30px;
}

.email-tel{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 4px;
    
    
}
.email-tel .svg-sobre-tel svg path{
    fill: #757575;
    margin-right: 4px;
}
.email-tel svg path:hover{
    fill: #2196F3;
}
.header-email-tel{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.header-email-tel .email-tel{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-email{
    width: 118px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.header-tel{
    text-decoration: none;
}
.link-header{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.header .container .header-nav .header-menu li a::after{
    display: flex;
    content: "";
    width: 48px;
    height: 4px;
    margin-top: 30px;
    background: #2196F3;
    border-radius: 2px;
<<<<<<< HEAD

=======
    
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
}

.link-header:hover {
    color: #2196F3;
}
.header-email-tel a{
    letter-spacing: 0.02em;
    color: #757575;
}
.header-email-tel a:hover{
    color: #2196F3;
}
                        /*   titulo  section 1 */
.title-pal{
    width: 696px;
    height: 120px;
    font-family: "roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    z-index: 5;

    color: #FFFFFF;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 600px;

    background: #2F303A;
    background: url("../imagenes/imag-banner.jpg");
    background-blend-mode: overlay;
    position: relative;
    text-align: center;
}

.banner .banner-overlay{
    position: absolute;
    top: 0;
    left: 0;

    background-color: #2f303a52;
    height: 100%;
    width: 100%;
}

.banner-button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
<<<<<<< HEAD
    width: 261px;
=======
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
    width: 200px;
    height: 50px;
    z-index: 6;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.banner-button .buttom:hover{
    background: #2196F3;
<<<<<<< HEAD


=======
    
    
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
}
                            /* section 2*/
.quality{
    width: 100vw;
    height: 350PX;
    background: #E5E5E5;
    
}
.quality ul{
    
    display: flex; 
    align-items: center;
    justify-content: center;
}
.quality .box-quality{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.quality .box1-quality{
    padding-top: 82PX;
    gap: 30px;
    background: #F5F4FA;
    
}
.quality .box1-quality .box-quality{
    
    width: 270px;
    margin-bottom: 99px;
    background: #F5F4FA;
}
.quality .box1-quality .box-quality div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    margin-bottom: 30px;
    
    background: #E5E5E5;
}
.quality .box1-quality .box-quality svg{
    width: 27Opx;
    height: 120px;   
    
} 
.icon-first{
    width: 75px;
    height: 70px;
}
.box-quality{
    width: 270px;
}
.special-box{
    padding-top: 24px;
}
.title-1p{
    width: 270px;
    height: 16px;
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #212121;
}                            
.paragraph-1{
width: 270px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.title-2p{
width: 270px;
height: 16px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #212121;
}
.paragraph-2{
width: 270px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.title-3p{
width: 270px;
height: 16px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
color: #212121;
}
.paragraph-3{
width: 270px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.title-4p{
width: 270px;
height: 16px;
left: 1115px;
top: 775px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.paragraph-4{
width: 270px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
                                     /* section 3*/
.about-galery {
    width: 100vw;
    height: 579PX;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
}
.title-galery{
    width: 371.15px;
    margin-bottom: 55px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    }
.about-galery .galery-imag ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.about-galery .galery-imag ul> li{
    position: relative;
    width: 370px;
    height: 294px;
} 
.box-add{
    position: relative;
    width: 370px;
}
.label{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0; 
    top: 250px;
    display: flex;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
}
.galery-imag ul> li> div p{ 
    width: 370px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.img-title-2-1{
width: 100%;
height: 100%;
}
.img-title-2-2{
    width: 100%;
    height: 100%;
}
.img-title-2-3{
    width: 100%;
    height: 100%;
}
                                 /*section team */
.team{
    width: 100vw;
    height: 708PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background: #E5E5E5;
}
.box-imag-team{
    width: 1149px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37PX;
}
.box-imag-team .card{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-imag-team .card h3{
    margin-top: 30px;
}
.box-imag-team .card p{
    margin-top: 10px;
}
.team ul >li> img{
    width: 270px;
    height: 260px;
}
.card{
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 94px;
    border-radius: 0px 0px 4px 4px;
}
.card ul{
    margin-top: 16px;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card ul > li{
    width: 44px;
    height: 44px;

}

.icon-card{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 10px;
    width: 32px;
    height: 44px;
    bottom: 0;
    border-radius: 50%;
    background-color: #FFFFFF;

}

.icon-card:hover{
    fill: #FFFFFF;
    background: #2196F3;
}

.icon-card use{
    fill: #AFB1B8;
}

.icon-card use:hover{ 
    fill:  #FFFFFF;


}

.icon-card{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 10px;
    width: 32px;
    height: 44px;
    bottom: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    
}

.icon-card:hover{
    fill: #FFFFFF;
    background: #2196F3;
}

.icon-card use{
    fill: #AFB1B8;
}

.icon-card use:hover{ 
    fill:  #FFFFFF;
    
    
}

.icon{
<<<<<<< HEAD
    width: 20px;
    height: 20px;
=======
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 10px;
    width: 32px;
    height: 44px;
    bottom: 0;
    border-radius: 50%;
    background-color: #2F303A;;
<<<<<<< HEAD

=======
    
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
}

.icon:hover{
    fill: #FFFFFF;
    background: #2196F3;
}

.icon use{
<<<<<<< HEAD
    fill: #AFB1B8;;
    fill: #AFB1B8;
}

.icon use:hover{
    fill: #2196F3;
}
.icon use:hover{ 
    fill:  #FFFFFF;;


=======
    fill: #AFB1B8;
}

.icon use:hover{ 
    fill:  #FFFFFF;;
    
    
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
}

.title-team{
    width: 263px;
    height: 42px;
    margin-top: 94px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.card h3{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}
.card p{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}
                        /*    section end    */
.box-svg{
<<<<<<< HEAD
    width: 1600px;
=======
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
    width: 1oovw;
    height: 1px;
}
.section-end{
    width: 100vw;
    height: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    
}    
.section-end h2{
    width: 323px;
    height: 36.98px;
    margin-top: 1px;
    margin-bottom: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section-end .logos-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.section-end .logos-svg li{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 170px;
    height: 81px;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
}
.section-end .logos-svg li:hover{
    border: 1px solid #2196F3;
}
.logos{
    
    width: 50%;
    height: 50%;
    
}
.logos use{
    fill: #757575;
}
.logos use:hover{
    fill: #2196F3;
}
                        /*    pie de pagina  1  */
.footer {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 252px;
    background: #2F303A;
    
}
.footer div{ 
    display: flex;
    align-items: initial;
    justify-content: center; 
    flex-direction: column;
    margin-left: 215px;
}
.footer div >a{
    margin-left: 0;
}
.footer div >address ul li{
    text-align: left;
}

.footer section ul{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.footer section ul li svg{
<<<<<<< HEAD

=======
    
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
    gap: 10px;
}

.link-webstudio-footer{

margin-bottom: 9px;
text-decoration: none;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
.link-webstudio-footer  div > a{
    margin: 0;
}

.piepag-direcion{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.pie-pag-email-tel a:hover{
    color: #2196F3;
}
.pie-pag-email-tel .header-email{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.pie-pag-email-tel .header-tel{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
                        /*   pi de pagina section 2*/
.footer h2{
    width: 150px;
    height: 16px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: -20px;
    margin-left: 70px;
}
.footer section > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
                        /*portafolio*/
.box-body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
.box-body .header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-portafolio {
    display: flex;
    flex-direction: column;
}
.main-portafolio .section-button{
    width: 100vw;
    height: 194px;
}
.main-portafolio .section-button .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 194px;
    background: #FFFFFF;
}

.list-card{
    padding-bottom: 82px;
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> a9a443564fd280e4ae6ce2f61b4908e788380fc6
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    background: #FFFFFF;
}
.list-card div{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    
    gap: 30px;
    
    background: #FFFFFF;
}
.list-card .list-product{
    display: flex;
    justify-content: center;
    align-items: top;
    width: 368px;
    margin: 0 auto;
    background: #FFFFFF;
}
.ul-list li{
    display: flex;
    width: 268px;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 4px;
}
.list-product ul > li> img{
    width: 368px;
    height: 294px;
    background: url(.jpg);
}
.list-product :hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.title-img-portafolio h3{
    width: 322px;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.parrafo-img{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
footer .link-webstudio-footer{
    margin-left: 210px;
}